@page
@model SolarEclipse.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].TextBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PostTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PostID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
