@page
@model SolarEclipse.Pages.VolunteerPositions.IndexModel

@{
    ViewData["Title"] = "Positions";
}

<h1>Volunteer Positions</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerPosition[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerPosition[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerPosition[0].PositionsFilled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VolunteerPosition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionsFilled)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-page="/Volunteers/Create">Volunteer</a>
</div>
