@page
@model SolarEclipse.Pages.MusicSubs.DetailsModel

@{
    ViewData["Title"] = "Music Submission Details";
}

<h1>Details</h1>

<div>
    <h4>MusicSub</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicSub.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicSub.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicSub.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicSub.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicSub.Song)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicSub.Song)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicSub.MusicLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicSub.MusicLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/AdminInfo/Index">Back to List</a>
</div>
